SESAME_HEALTH_HEAP_THRESHOLD_MB=1024
SESAME_HEALTH_RSS_THRESHOLD_MB=3072
SESAME_HEALTH_NATIVE_DERIVE_MIN_GROWTH_MB=256
SESAME_HEALTH_COLLECTION_INTERVAL_MS=15000
SESAME_HEALTH_SSE_INTERVAL_MS=15000
SESAME_HEALTH_ENABLE_HTTP_CHECK=false
SESAME_HEALTH_HTTP_CHECK_INTERVAL_MS=300000
