node_modules/
.turbo/
dist/
.nuxt/
.output/
.nitro/
.cache/
.data/
brain/
samples/
certificates/
documentation/
node_modules/
.DS_Store/
.idea
.env
.env.*
!.env.example
apps/web/src/public/config/logo.png
